page-raffle {
    & ion-content {
        background-image: url("../../assets/imgs/undraw_celebration_0jvk.png");
        background-color: #c44949;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: center;

    }
        

    

}


